body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex; /* Adicionado para centralizar a caixa na tela */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box, .card {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 8px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: left; 
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left; 
}

button {
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center; 
}

button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    display: block;
    text-align: left;
}

a:hover {
    text-decoration: underline;
}

.saida {
    display: inline-block;
    margin-top: 10px;
    color: red;
}
.painel-box {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.painel-box p {
    margin-bottom: 15px;
    color: #555;
    text-align: left;
}

.logout {
    background: #dc3545; 
}

