html{
  width: 100%;
}


body{ 
    background:white ;
    color:#080808;
  
    box-sizing: border-box;
    
}
strong{
    color: rgb(173, 127, 74);
}
a{
    color:rgb(15, 15, 15);
    border: 1px solid #070707;
    padding: 5px;
}
.lado{


  top: 0;
  left: 0; 
  width: 200px;
  

}
.perola{
     border: 1px solid #080808;
    padding: 0px;
}
.paragrafo{
    border: 1px solid #080808;
    padding: 9px;
    color: #070707;
}
.barra{
    background-color: rgb(184, 159, 112);
 
    padding: 20x 0;
    font-size: 16px;
     background-position: center;
     color:rgb(15, 15, 15);
    border: 1px solid #070707;
    padding: 0px;
    

}
.paragrafo p {
padding-left:5px;
}
.logo2{
    display: flex;

}
.logo2 img {
    width: 90px;
    height: 90px;
    padding-right:10px;
}

.bracelete{
 width: 660px;
  height: 650px;
  padding-right:10px;
}
.coracao{
    width: 570px;
    height:570px;
    padding-right:10px;
  }
.aneis{
   width: 570px;
    height: 570px;
  padding-right:10px;
}

.pulseiras{
  width: 570px;
    height:570px;
  padding-right:10px;
}

.curvado{
   width: 570px;
  height: 570px;
  padding-right:10px;
}

.colares{
   width: 500px;
  height: 500px;
  padding-right:10px;
}

.tamanho{
  display:flex;
  flex-direction: column;
  
}
.imageminicial{
  width:100%;
  height: 500px;
  background-image: url("imageminicial.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
   color:rgb(15, 15, 15);
    border: 1px solid #070707;
    padding: 5px;
}