body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.card {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

button {
    background: #4da6ff;
    border: none;
    color: white;
}

.saida {
    display: inline-block;
    margin-top: 10px;
    color: red;
}